<form #entireForm="ngForm" (ngSubmit)="onSubmit(entireForm)">
    <!-- TODO 1: Make this form call the 'onSubmit' function using the ngSubmit directive. -->

    <input type="text" id="name" name="name" ngModle>
    <!-- TODO 2: Create an input of type text with id as 'name' and name as 'name' -->
    <br>

    <input type="email" id="email" name="email" ngModle>

    <!-- TODO 3: Create an input of type email with id as 'email' and name as 'email' -->


    <br>
    <!-- TODO 4: Create an input of type password with id as 'password' and name as 'password' -->
    <input type="password" id="password" name="password" ngModle>

    <br>
    <button type="submit" id="submit">Submit</button>
</form>
